.right {
    text-align: right;
}

.fill {
    width: 100%;
}

.noBorder td, .noBorder tr {
    border: none !important;
}

.countdownDisplay td {
    padding: 0 !important;
}

.departureTime {
    margin: 0;
    padding: 0 !important;
    /*font-size: 80%;*/
}

.departureCountdown {
    margin: 0;
    padding: 0 !important;
    /*font-size: 80%;*/
}

.departureDelay {
    margin-left: 0.5em !important;
    color: red;
    margin: 0;
    padding: 0 !important;
    font-size: 80%;
}

.ui-clock {
    font-size: 180% !important;
}

.icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.tempField {
    font-size: 162%;
    font-weight: bolder;
}

.unit {
    font-size: 90%;

    margin-left: 0.15em;
}