<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:component-scan base-package="marc.dashboard"/>

    <context:property-placeholder location="classpath:/application.properties"/>

    <mvc:annotation-driven/>

    <mvc:resources mapping="resources/**" location="resources/"/>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>


    <!-- Config -->
    <bean class="marc.dashboard.config.ConfigurationBean">
        <property name="place" value="Hannover"/>
        <property name="stations">
            <list>
                <value>Isernhagener Str.</value>
                <value>Vahrenwalder Platz</value>
            </list>
        </property>
    </bean>

    <!-- Weather -->
    <bean class="marc.dashboard.weather.wunderground.WUndergroundWeatherService"/>

    <!-- EFA -->
    <bean id="efaService" class="marc.dashboard.efa.EfaServiceFactory" factory-method="createEfaService"/>

    <bean class="marc.dashboard.efa.EfaFetcher"/>
</beans>